.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-right {
    display: flex;
}

.header-menu {
    border-right: 1px solid #a7a7a7;
    color: #a7a7a7;
    font-size: 13px;
    padding: 15px 30px 15px 0;
}

.menu-item {
    margin-left: 40px;
}

.menu-item:first-child {
    color: #a59477;
}

.social {
    margin-left: 30px;
}

.social-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
}

.social-icon:last-child {
    margin-right: 0;
}

.fa-rss {
    color: #faaa5e;
}

.fa-facebook-f {
    color:#677fb5;
}

.fa-twitter {
    color: #70c2e9;
}

.fa-basketball-ball {
    color:#e299c2;
}

.fa-pinterest-p {
    color:#d8545d;
}
