/* mobile */
@media only screen and (max-width: 767px) {
    .header-inner {
        padding: 30px 0;
        flex-direction: column;
        align-items: center;
    }

    .header-right {
        flex-direction: column-reverse;
        align-items: center;
    }

    .header-menu {
        border: none;
        padding: 15px 5px 0 0;
        font-size: 13px;
    }

    .menu-item {
        margin-left: 5px;
    }
    
    .social {
        margin: 10px 0 0 0;
    }

    .social-icon:first-child {
        margin-left: 0;
    }

    .slider-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .slider-content {
        padding: 0;
    }

    h1 {
        font-size: 33px;
        line-height: 50px;
    }

    .slider h3 {
        font-size: 20px;
        line-height: 35px;
    }

    .purchase {
        margin-bottom: 40px;
    }

    .intro {
        padding: 60px 0 20px 0;
    }

    .intro-inner {
        text-align: center;
        padding: 0 10px;
    }

    h3 {
        line-height: 30px;
    }

    .process-inner, .portfolio-inner {
        text-align: center;
        padding: 0 10px;
    }

    .item {
        flex-direction: column;
        align-items: center;
    }

    .item-inner {
        margin-bottom: 30px;
    }

    .item-inner:first-child {
        padding: 0;
    }    

    .item-inner:last-child {
        padding: 0;
        margin-bottom: 0;
    }

    .arrow {
        border: solid #a59477;
        border-width: 0 3px 3px 0;
        display: block;
        padding: 3px;
        position: absolute;
        transform: rotate(45deg);
        top: 104%;
        right: 48%;
    }

    .portfolio-item {
        margin-bottom: 10px;
    }

    .blog-about-inner {
        flex-direction: column;
        padding: 0 10px;
    }

    .blog {
        width: 100%;
    }

    .post-day {
        margin-right: 5px;
    }

    .author-inner {
        padding: 0 4px;
    }    
    
    .about {
        width: 100%;
        padding-bottom: 30px;
    }
    
    .testimonial-inner {
        padding: 0 10px;
    }
    
    .footer-inner {
        flex-wrap: wrap;
        padding: 0 10px;
    }
    
    .footer-content {
        width: 100%;
    }

    .coppy-right-content{
        padding: 35px 10px;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0 30px;
    }

    .menu-item {
        margin-left: 10px;
    }
    
    .slider-content {
        padding-right: 0;
    }
    
    h1 {
        font-size: 33px;
        line-height: 50px;
    }

    .item-inner {
        padding: 0 10px;
    }

    .item-inner:first-child {
        padding: 0 10px 0 0;
    }
    
    .item-inner:last-child {
        padding: 0 0 0 10px;
    }

    .portfolio-content .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    
    .portfolio-item {
        margin: auto;
    }

    .portfolio-content-inner {
        width: 50%;
        margin-bottom: 20px;
    }

    .testimonial-inner {
        padding: 0 50px;
    }

    .footer-inner {
        flex-wrap: wrap;
        padding: 0 10px;
    }
    
    .footer-content {
        width: 100%;
    }
}

/* tablet ngang */
@media (min-width: 992px) and (max-width: 1023px) {
    .container {
        padding: 0 30px;
    }

    .portfolio-content .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    
    .portfolio-item {
        margin: auto;
    }

    .portfolio-content-inner {
        width: 50%;
        margin-bottom: 20px;
    }

    .testimonial-inner {
        padding: 0 50px;
    }

    .footer-inner {
        flex-wrap: wrap;
        padding: 0 10px;
    }
    
    .footer-content {
        width: 50%;
    }
}

/* laptop */
@media (min-width: 1024px) and (max-width: 1366px) {
    .container {
        padding: 0 30px;
    }

    .portfolio-content .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    
    .portfolio-item {
        margin: auto;
    }

    .portfolio-content-inner {
        margin: 20px;
    }

    .testimonial-inner {
        padding: 0 50px;
    }

    .footer-inner {
        flex-wrap: wrap;
        padding: 0 10px;
    }
    
    .footer-content {
        width: 45%;
    }


}